.plant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00BF63;
    width: 100%;
    height: 100vh;
}

.area-voltar {
    display: flex;
    height: 10%;
    width: 100%;
    padding: 15px;
    gap: 10px;
    background-color: bisque;
    align-items: center;
}

.area-planta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
    width: 100%;
    padding: 15px 15px;
    background-color: rgb(49, 33, 175);
}