.plant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00BF63;
    width: 100%;
    height: 100vh;
}

.area-voltar {
    display: flex;
    height: 10%;
    width: 100%;
    padding: 15px;
    align-items: center;
}

.voltar {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    height: 30px;
    width: 100px;
    text-decoration: none;
}

.area-voltar img {
    height: 30px;
}

.area-planta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
    width: 100%;
    padding: 15px 15px;
}

.planta {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    height: 80%;
    width: 60%;
    border: 2px solid #000000;
    border-radius: 10px;
}

.planta .informacoes {
    display: flex;
    height: 85%;
    width: 100%;
}

.planta .informacoes .imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.planta .informacoes .imagem img {
    height: 70%;
    width: 50%;
    border: 2px solid #00BF63;
    border-radius: 10px;
}

.planta .informacoes .dados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px 0 0;
    gap: 30px;
    height: 100%;
    width: 50%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.planta .funcionalidades {
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: end;
    align-items: center;
    padding: 25px;
    gap: 20px;
}

.planta .funcionalidades button {
    height: 40px;
    width: 120px;
    font-size: 18px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}