.introduction {
    display: flex;
    flex-direction: column;
    background-color: #00BF63;
    width: 100%;
    height: 100vh;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.introduction p {
    font-size: 18px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
}

.introduction .link {
    font-size: 16px;
    padding: 3px 5px 3px 5px;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}