.home {
    display: flex;
    flex-direction: column;
    background-color: #00BF63;
    width: 100%;
    height: 100vh;
}

.opcoes {
    display: flex;
    height: 10%;
    width: 100%;
    padding: 25px;
    gap: 10px;
    /*background-color: bisque;*/
    align-items: center;
}

.barra-pesquisa {
    height: 45px;
    width: 100%;
    padding: 0 0 0 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
}

.botoes {
    display: flex;
    height: 45px;
    width: 10%;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    height: 100%;
    width: 100%;
    padding: 15px 15px;
    overflow-y: auto;
}