.home {
    display: flex;
    flex-direction: column;
    background-color: #00BF63;
    width: 100%;
    height: 100vh;
}

.opcoes {
    display: flex;
    height: 10%;
    width: 100%;
    padding: 10px;
    gap: 10px;
    /*background-color: bisque;*/
    align-items: center;
}

.barra-pesquisa {
    height: 30px;
    width: 100%;
    padding: 0 0 0 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
}

.botoes {
    display: flex;
    height: 30px;
    width: 10%;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

.catalogo {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 15px 10px;
    /*background-color: aquamarine;*/
}