.header{
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
    background-color: #00A11D;
    border-bottom: 2px solid #000000;
    height: 60px;
    width: 100%;
}

.logo {
    height: 50px;
    width: 50px;
}

.titulo {
    font-size: 30px;
}

strong {
    color: rgb(255, 255, 255);
}