.header{
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 5px;
    background-color: #00A11D;
    border-bottom: 2px solid #000000;
    height: 75px;
    width: 100%;
}

.logo {
    height: 60px;
    width: 60px;
}

.titulo {
    font-size: 40px;
}

strong {
    color: rgb(255, 255, 255);
}