.edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00BF63;
    width: 100%;
    height: 100vh;
}

.area-voltar {
    display: flex;
    height: 10%;
    width: 100%;
    padding: 15px;
    align-items: center;
}

.voltar {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    height: 30px;
    width: 100px;
    text-decoration: none;
}

.area-voltar img {
    height: 30px;
}

.area-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
    width: 100%;
    padding: 15px 15px;
}

.formulario {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    height: 80%;
    width: 60%;
    border: 2px solid #000000;
    border-radius: 10px;
}

.formulario .area-inputs {
    display: flex;
    height: 85%;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
}

.formulario .area-inputs .dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
    gap: 30px;
}

.formulario .area-inputs .dados input {
    height: 40px;
    width: 100%;
    padding-left: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.formulario .area-inputs .dados textarea {
    height: 100px;
    width: 100%;
    padding-left: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}


.formulario .area-inputs .imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
    gap: 30px;
}

.formulario .area-inputs .imagem .imagem-planta{
    display: flex;
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.imagem-planta input[type="file"] {
    display: none;
}

.preview-imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.addImagemPlanta{
    font-size: 50px;
    color: #b1b1b1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.formulario .area-salvar {
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: end;
    align-items: center;
    padding: 25px;
}

.formulario .area-salvar button {
    height: 40px;
    width: 120px;
    font-size: 18px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}