.card-planta {
    display: flex;
    flex-direction: column;
    height: 220px;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: bisque;
    text-decoration: none;
}

.area-imagem {
    display: flex;
    height: 80%;
    width: 100%;
}

.area-imagem img {
    height: 100%;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.area-nome {
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #000000;
    border-radius: 0 0 10px 10px;
    background-color: #D9D9D9;
}

.area-nome p {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}